<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/student/submit" method="post">
    <div class="row">
        <div class="col-lg-4">
            <input type="text" name="studentId" class="form-control mb-5">
        </div>

        <div class="col-lg-4">
            <input type="text" name="courseId" class="form-control ">
        </div>
        <div class="col-lg-4">
     <button type="submit" class="btn btn-primary">Submit</button>
   </div>

  
    </div>
</form>